{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>template_name in class worked!!</h2>
<p><a class="btn btn-default" href="{% url 'accounts:Employee_accounts_employee_list' %}">Employee Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>slug</td>
    <td>created</td>
    <td>last_updated</td>
</tr>

{% if object_list %}
    {% for object in all_emp %}
    <tr>
        <td>{{object.pk}}</td>
        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
        <td>{{ object.name }}</td>
        <td>{{ object.slug }}</td>
        <td>{{ object.created }}</td>
        <td>{{ object.last_updated }}</td>
    </tr>
    {% endfor %}
{% endif %}
</table><a class="btn btn-primary" href="{% url 'accounts:Employee_accounts_employee_create' %}">Create new Employee</a>
{% endblock %}